@import "tailwindcss";
@keyframes check {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-check {
  animation: check 0.6s ease-out forwards;
}

.animate-fade {
  animation: fade 0.5s ease-out forwards;
  animation-delay: 0.4s;
}
